* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff66b3;
}

.tabs {
    display: flex;
    position: relative;
    text-align: center;
    width: min-content;
    height: 70px;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.tabs .tab {
    width: 90px;
    height: 100%;
    margin-top: 10px;
    text-align: center;
    color: #06345a;
    cursor: pointer;
    z-index: 2;
}

.tabs .tab p {
    text-transform: uppercase;
}

.tabs .tab i {
    font-size: 20px;
}

.tabs .border {
    position: absolute;
    width: 90px;
    height: 4px;
    background: #084b83;
    bottom: 0;
    z-index: 2;
    transition: .4s;
}

.tabs .background {
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 100%;
    background: #bbe6e4;
    bottom: 0;
    transition: .4s;
}